
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
//@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

.card.product {
    padding: .75rem;
    margin-bottom: 2rem;
}

.text-muted {
    color: #777777 !important;
}


@for $i from 1 through 100 {
    .mt#{$i} {
        margin-top: 0rem + $i;
    }
}

@for $i from 1 through 100 {
    .mr#{$i} {
        margin-right: 0rem + $i;
    }
}

@for $i from 1 through 100 {
    .ml#{$i} {
        margin-left: 0rem + $i;
    }
}

@for $i from 1 through 100 {
    .mb#{$i} {
        margin-bottom: 0rem + $i;
    }
}

.cursor-default {
    cursor: default;
}

.cursor-alias {
    cursor: alias;
}

.cursor-cell {
    cursor: cell;
}

.cursor-resize {
    cursor: col-resize;
}

.cursor-context-menu {
    cursor: context-menu;
}

.cursor-copy {
    cursor: copy;
}

.cursor-crosshair {
    cursor: crosshair;
}

.cursor-grab {
    cursor: grab;
}

.cursor-grabbing {
    cursor: grabbing;
}

.cursor-help {
    cursor: help;
}

.cursor-move {
    cursor: move;
}

.cursor-no-drop {
    cursor: no-drop;
}

.cursor-none {
    cursor: none;
}

.cursor-forbidden {
    cursor: not-allowed;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-progress {
    cursor: progress;
}

.cursor-text {
    cursor: text;
}

.cursor-vertical-text {
    cursor: vertical-text;
}

.cursor-wait {
    cursor: wait;
}
